* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url(../img/fondo.jpg);
  background-position: center;
  background-size: contain;
}

header {
  -o-border-image: url(../img/borde.png) 40%;
     border-image: url(../img/borde.png) 40%;
  border-image-width: 30%;
  border-image-repeat: stretch;
  box-shadow: 0 0 10px black;
  border-image-width: 0 0 30% 0;
}
header h1 {
  color: goldenrod;
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
  letter-spacing: 0.3vw;
  cursor: pointer;
  transition: all 1s;
}
header h1::first-letter {
  font-size: 3rem;
}
header h1:hover {
  color: #ae8319;
  rotate: 360deg;
}
header #menuButton {
  transition: all 0.3s;
}
header #menuButton:hover {
  color: goldenrod !important;
}
header a {
  background-color: rgb(63, 63, 63);
  font-weight: bold;
  padding: 1%;
  border-radius: 10px;
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.2s;
}
header a:hover {
  color: goldenrod;
  scale: 105%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.459);
}

footer {
  -o-border-image: url(../img/borde.png) 40%;
     border-image: url(../img/borde.png) 40%;
  border-image-width: 30%;
  border-image-repeat: stretch;
  box-shadow: 0 0 10px black;
  margin-top: auto;
  min-height: 10vh;
  border-image-width: 20% 0% 0% 0%;
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
footer div {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
footer div a {
  color: whitesmoke;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  transition: all 0.2s;
  text-align: center;
}
footer div a:hover {
  color: goldenrod;
  text-decoration: underline;
}
footer div a svg {
  width: 1.2em;
  height: 1.2em;
}

#navDesplegable {
  -o-border-image: url(../img/borde.png) 40%;
     border-image: url(../img/borde.png) 40%;
  border-image-width: 30%;
  border-image-repeat: stretch;
  box-shadow: 0 0 10px black;
  position: fixed;
  top: 8vh;
  z-index: 2;
  border-image-width: 0% 20% 10% 0%;
  width: 30vw;
  height: 95vh;
  display: none;
  flex-direction: column;
  align-items: center;
  animation: menuSpawn 0.3s ease;
}
#navDesplegable[reverse] {
  animation: menuSpawn 0.3s ease reverse;
}
#navDesplegable h1 {
  color: goldenrod;
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
  letter-spacing: 0.3vw;
}
#navDesplegable h1::first-letter {
  font-size: 3rem;
}
#navDesplegable hr {
  color: gray;
}
#navDesplegable ul {
  margin-right: 1%;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#navDesplegable ul li {
  text-align: center;
}
#navDesplegable ul li a {
  color: whitesmoke;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  transition: all 0.2s;
}
#navDesplegable ul li a:hover {
  color: goldenrod;
  text-decoration: underline;
}

#mainInicio {
  margin-bottom: 5%;
}
#mainInicio > section:nth-child(1) {
  height: 65vh;
  animation: cambioFondo infinite ease 13s;
  -o-border-image: url(../img/borde.png) 40%;
     border-image: url(../img/borde.png) 40%;
  border-image-width: 30%;
  border-image-repeat: stretch;
  box-shadow: 0 0 10px black;
  border-image-width: 5%;
  background-image: url(../img/presentacion/presentacion1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes cambioFondo {
  0% {
    background-image: url("../img/presentacion/presentacion1.jpg");
  }
  20% {
    background-image: url("../img/presentacion/presentacion1.jpg");
  }
  30% {
    background-image: url("../img/presentacion/presentacion2.jpg");
  }
  50% {
    background-image: url("../img/presentacion/presentacion2.jpg");
  }
  60% {
    background-image: url("../img/presentacion/presentacion3.jpg");
  }
  90% {
    background-image: url("../img/presentacion/presentacion3.jpg");
  }
}
#mainInicio > section:nth-child(1) div:nth-child(1) {
  text-align: center;
  border: solid 3px whitesmoke;
  padding: 3%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.384);
  box-shadow: 0 0 5px rgb(0, 0, 0);
  -webkit-backdrop-filter: blur(5px) grayscale(50%);
          backdrop-filter: blur(5px) grayscale(50%);
}
#mainInicio > section:nth-child(1) div:nth-child(1) h1 {
  color: goldenrod;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
#mainInicio > section:nth-child(1) div:nth-child(1) p {
  color: rgb(161, 161, 161);
}
#mainInicio > section:nth-child(1) img {
  position: absolute;
  width: 100vw;
  height: 18vh;
  top: 75vh;
  filter: brightness(50%) contrast(110%) saturate(60%) drop-shadow(0 0 5px black);
  -webkit-mask-image: linear-gradient(transparent 1%, black 6% 100%);
          mask-image: linear-gradient(transparent 1%, black 6% 100%);
  animation: leavesAnimation 3s ease-in-out infinite alternate;
  transform-origin: top center;
}
#mainInicio > section:nth-child(2) {
  margin-top: 18vh;
  background-image: url(../img/mapa.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
#mainInicio > section:nth-child(2) > h1 {
  color: goldenrod;
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
  letter-spacing: 0.3vw;
}
#mainInicio > section:nth-child(2) > h1::first-letter {
  font-size: 3rem;
}
#mainInicio > section:nth-child(2) p {
  color: gainsboro;
}
#mainInicio > section:nth-child(2) > div:first-of-type {
  margin-top: 5%;
  display: flex;
  border: solid 3px whitesmoke;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(2, 2, 2);
  height: 35vh;
  overflow: hidden;
}
#mainInicio > section:nth-child(2) > div:first-of-type:has(section:hover) ~ div {
  transform: translateY(0);
  animation: signSpawn 1s ease-in-out;
  opacity: 1;
}
#mainInicio > section:nth-child(2) > div:first-of-type section {
  flex: 1;
  transition: all 0.4s;
  background-position: center;
  background-size: cover;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  justify-content: center;
  filter: blur(1px) brightness(50%);
}
#mainInicio > section:nth-child(2) > div:first-of-type section h1 {
  color: goldenrod;
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
  letter-spacing: 0.3vw;
  transition: all 0.5s;
  transform: translateY(-400%);
  margin-top: auto;
}
#mainInicio > section:nth-child(2) > div:first-of-type section h1::first-letter {
  font-size: 3rem;
}
#mainInicio > section:nth-child(2) > div:first-of-type section a {
  background-color: rgb(63, 63, 63);
  font-weight: bold;
  padding: 1%;
  border-radius: 10px;
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.2s;
  transition: all 0.2s;
  margin-top: auto;
  background-color: rgba(24, 24, 24, 0.842);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.493);
  width: 100%;
  border-radius: 0;
  transform: translateY(100%);
}
#mainInicio > section:nth-child(2) > div:first-of-type section a:hover {
  color: goldenrod;
  scale: 105%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.459);
}
#mainInicio > section:nth-child(2) > div:first-of-type section:hover {
  flex-grow: 2;
  filter: blur(0) brightness(90%);
}
#mainInicio > section:nth-child(2) > div:first-of-type section:hover h1 {
  transform: translateY(0);
}
#mainInicio > section:nth-child(2) > div:first-of-type section:hover a {
  transform: translateY(0);
}
#mainInicio > section:nth-child(2) > div:first-of-type section:nth-child(1) {
  background-image: url(https://vidriosorribes.com/wp-content/uploads/beginValencia001.jpg);
}
#mainInicio > section:nth-child(2) > div:first-of-type section:nth-child(2) {
  background-image: url(https://a.storyblok.com/f/116532/1920x1080/1a9aaf8634/henry-deane-sydney.webp);
}
#mainInicio > section:nth-child(2) > div:first-of-type section:nth-child(3) {
  background-image: url(https://i.blogs.es/ed6bca/restaurantes-mejores-vistas-londres/1366_2000.jpg);
}
#mainInicio > section:nth-child(2) > div:last-of-type {
  -o-border-image: url(../img/borde.png) 40%;
     border-image: url(../img/borde.png) 40%;
  border-image-width: 30%;
  border-image-repeat: stretch;
  box-shadow: 0 0 10px black;
  transition: all 0.8s ease;
  position: relative;
  margin-top: 3%;
  opacity: 0;
  border-image-width: 10% 5%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  transform: translateY(-130%);
}
#mainInicio > section:nth-child(2) > div:last-of-type p {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  padding: 3%;
}

.cuerda {
  position: absolute;
  height: 10vh;
  border: solid 4px grey;
  border-bottom: none;
  width: 85%;
  left: 8%;
  right: 8%;
  bottom: 98%;
  z-index: -1;
}

#mainReserva {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainReserva > h1 {
  color: goldenrod;
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
  letter-spacing: 0.3vw;
  margin-top: 5%;
}
#mainReserva > h1::first-letter {
  font-size: 3rem;
}
#mainReserva section {
  -o-border-image: url(../img/borde.png) 40%;
     border-image: url(../img/borde.png) 40%;
  border-image-width: 30%;
  border-image-repeat: stretch;
  box-shadow: 0 0 10px black;
  border-image-width: 10% 5%;
  padding: 1%;
}
#mainReserva section h2 {
  color: goldenrod;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
#mainReserva section:nth-child(2) div {
  display: flex;
  justify-content: space-around;
  margin: 1%;
  border: solid 3px rgba(245, 245, 245, 0.26);
  border-radius: 10px;
  box-shadow: 0 0 4px black;
  overflow: hidden;
}
#mainReserva section:nth-child(2) div #botonValencia, #mainReserva section:nth-child(2) div #botonLondres, #mainReserva section:nth-child(2) div #botonSidney {
  flex: 1;
  height: 20vh;
  background-image: url(https://images.theconversation.com/files/630618/original/file-20241107-15-y9by4r.jpg?ixlib=rb-4.1.0&rect=0%2C108%2C3814%2C2728&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip);
  background-position: center;
  background-size: cover;
  color: whitesmoke;
  color: goldenrod;
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
  letter-spacing: 0.3vw;
  border: none;
  font-size: x-large;
  filter: brightness(80%);
  transition: all 0.2s;
}
#mainReserva section:nth-child(2) div #botonValencia::first-letter, #mainReserva section:nth-child(2) div #botonLondres::first-letter, #mainReserva section:nth-child(2) div #botonSidney::first-letter {
  font-size: 3rem;
}
#mainReserva section:nth-child(2) div #botonValencia:is(:hover, [seleccionado]), #mainReserva section:nth-child(2) div #botonLondres:is(:hover, [seleccionado]), #mainReserva section:nth-child(2) div #botonSidney:is(:hover, [seleccionado]) {
  scale: 105%;
  filter: brightness(100%);
}
#mainReserva section:nth-child(2) div #botonSidney {
  background-image: url(https://www.civitatis.com/blog/wp-content/uploads/2018/01/vista-opera-house-sidney.jpg);
}
#mainReserva section:nth-child(2) div #botonLondres {
  background-image: url(https://www.universal-assistance.com/uablog/wp-content/uploads/2022/12/big-ben.png);
}
#mainReserva section:nth-child(3) {
  margin-top: 5%;
  margin-bottom: 5%;
  display: none;
}

.bannerValencia, .bannerSidney {
  height: 60vh;
  width: 100%;
  animation: cambioFondoValencia infinite ease 13s;
  background-image: url(../img/valencia/valencia1.jpg);
  background-position: center;
  background-size: cover;
  -webkit-mask-origin: fill-box;
          mask-origin: fill-box;
  -webkit-mask-image: linear-gradient(black 60%, transparent 90% 100%);
          mask-image: linear-gradient(black 60%, transparent 90% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerValencia > div, .bannerSidney > div {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.582);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.616);
  padding: 3%;
  border: solid 3px whitesmoke;
  border-radius: 10px;
  width: 60%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.bannerValencia > div h1, .bannerSidney > div h1 {
  color: goldenrod;
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
  letter-spacing: 0.3vw;
}
.bannerValencia > div h1::first-letter, .bannerSidney > div h1::first-letter {
  font-size: 3rem;
}
.bannerValencia > div div, .bannerSidney > div div {
  display: flex;
  justify-content: space-around;
}
.bannerValencia > div a, .bannerSidney > div a {
  color: whitesmoke;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  transition: all 0.2s;
}
.bannerValencia > div a:hover, .bannerSidney > div a:hover {
  color: goldenrod;
  text-decoration: underline;
}

#mainValencia, #mainSidney {
  display: grid;
  margin-top: 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#mainValencia section:nth-child(1), #mainSidney section:nth-child(1) {
  background-image: url("../img/valencia/valencia1.jpg");
  grid-row: 1;
  grid-column: 1/4;
}
#mainValencia section:nth-child(2), #mainSidney section:nth-child(2) {
  background-image: url("../img/valencia/valencia2.jpg");
  grid-row: 2;
  grid-column: 2/5;
  text-align: end;
}
#mainValencia section:nth-child(2) div, #mainSidney section:nth-child(2) div {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.76), black 70%);
}
#mainValencia section:nth-child(3), #mainSidney section:nth-child(3) {
  background-image: url("../img/valencia/valencia3.jpg");
  grid-row: 3;
  grid-column: 1/4;
}
#mainValencia section, #mainSidney section {
  margin-bottom: 8%;
  background-size: cover;
  background-position: center left;
  padding: 3%;
  -webkit-backdrop-filter: brightness(20%) blur(4px);
          backdrop-filter: brightness(20%) blur(4px);
}
#mainValencia section div, #mainSidney section div {
  position: absolute;
  -o-border-image: url(../img/borde.png) 40%;
     border-image: url(../img/borde.png) 40%;
  border-image-width: 30%;
  border-image-repeat: stretch;
  box-shadow: 0 0 10px black;
  border-image-width: 10% 5%;
  top: 0;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, black 0% 30%, rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.473));
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
#mainValencia section h1, #mainSidney section h1 {
  color: goldenrod;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
#mainValencia section p, #mainSidney section p {
  color: rgb(196, 196, 196);
  font-weight: 600;
}

#eventos, #eventosSidney {
  border: solid 3px whitesmoke;
  box-shadow: 0 0 5px black;
  border-left: none;
  border-right: none;
  text-align: center;
  padding: 2%;
}
#eventos h1, #eventosSidney h1 {
  color: goldenrod;
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
  letter-spacing: 0.3vw;
}
#eventos h1::first-letter, #eventosSidney h1::first-letter {
  font-size: 3rem;
}
#eventos > p, #eventosSidney > p {
  margin-bottom: 3%;
}
#eventos > div div, #eventosSidney > div div {
  background-position: center;
  background-size: cover;
  height: 30vh;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
  display: flex;
  filter: brightness(70%);
  transition: all 0.3s;
  flex-direction: column;
}
#eventos > div div *, #eventosSidney > div div * {
  transition: all 0.3s;
}
#eventos > div div h1, #eventosSidney > div div h1 {
  margin: auto;
  color: #e4b849;
  transform: translateY(-200%);
}
#eventos > div div p, #eventosSidney > div div p {
  margin-top: auto;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.664);
  -webkit-backdrop-filter: blur(4px) grayscale(30%);
          backdrop-filter: blur(4px) grayscale(30%);
  color: whitesmoke;
  display: flex;
  padding: 1%;
  justify-content: center;
  align-items: center;
  min-height: 30%;
  font-weight: 600;
  transform: translateY(200%);
}
#eventos > div div:hover, #eventosSidney > div div:hover {
  filter: brightness(100%);
  scale: 102%;
}
#eventos > div div:hover *, #eventosSidney > div div:hover * {
  transform: translateY(0);
}
#eventos > div div:nth-child(1), #eventosSidney > div div:nth-child(1) {
  margin-bottom: 3%;
  background-image: url("../img/valencia/eventos/evento1.png");
}
#eventos > div div:nth-child(2), #eventosSidney > div div:nth-child(2) {
  background-image: url("../img/valencia/eventos/evento2.png");
}

#topVentas {
  text-align: center;
  margin-top: 5%;
}
#topVentas > h1 {
  color: goldenrod;
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
  letter-spacing: 0.3vw;
}
#topVentas > h1::first-letter {
  font-size: 3rem;
}
#topVentas p {
  color: gainsboro;
  margin-bottom: 5%;
}
#topVentas > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 3%;
}
#topVentas > div div {
  box-shadow: 0 0 5px black;
  padding: 2%;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: solid 3px whitesmoke;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  transform: translateY(25%);
  transition: all 0.3s;
}
#topVentas > div div:hover {
  transform: translateY(0);
}
#topVentas > div div h1 {
  color: goldenrod;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: large;
}
#topVentas > div div img {
  box-shadow: 0 0 5px black;
  margin-top: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 25vw;
  height: 25vw;
  border-radius: 15px;
}

.bannerSidney {
  animation: cambioFondoSidney infinite ease 13s;
  background-image: url(../img/sidney/sidney1.jpg);
}

#mainSidney section:nth-child(1) {
  background-image: url("../img/sidney/sidney1.jpg");
}
#mainSidney section:nth-child(2) {
  background-image: url("../img/sidney/sidney2.jpg");
}
#mainSidney section:nth-child(3) {
  background-image: url("../img/sidney/sidney3.jpg");
}

#eventosSidney > div div:nth-child(1) {
  margin-bottom: 3%;
  background-image: url("../img/sidney/eventos/evento1.png");
}
#eventosSidney > div div:nth-child(2) {
  background-image: url("../img/sidney/eventos/evento2.png");
}

@keyframes menuSpawn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes leavesAnimation {
  0% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(4deg);
  }
}
@keyframes signSpawn {
  0% {
    rotate: 0deg;
  }
  33% {
    rotate: -3deg;
  }
  77% {
    rotate: 3deg;
  }
  100% {
    rotate: 0deg;
  }
}
@keyframes cambioFondoValencia {
  0% {
    background-image: url("../img/valencia/valencia1.jpg");
  }
  20% {
    background-image: url("../img/valencia/valencia1.jpg");
  }
  30% {
    background-image: url("../img/valencia/valencia2.jpg");
  }
  50% {
    background-image: url("../img/valencia/valencia2.jpg");
  }
  60% {
    background-image: url("../img/valencia/valencia3.jpg");
  }
  90% {
    background-image: url("../img/valencia/valencia3.jpg");
  }
}
@keyframes cambioFondoSidney {
  0% {
    background-image: url("../img/sidney/sidney1.jpg");
  }
  20% {
    background-image: url("../img/sidney/sidney1.jpg");
  }
  30% {
    background-image: url("../img/sidney/sidney2.jpg");
  }
  50% {
    background-image: url("../img/sidney/sidney2.jpg");
  }
  60% {
    background-image: url("../img/sidney/sidney3.jpg");
  }
  90% {
    background-image: url("../img/sidney/sidney3.jpg");
  }
}
@media (max-width: 700px) {
  #mainValencia, #mainSidney {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  #mainValencia section, #mainSidney section {
    grid-column: 1 !important;
    text-align: center !important;
  }
}/*# sourceMappingURL=style.css.map */